################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C++ for Everyone, 2nd Ed, Horstmann/Chapter_01_Introduction/Debug
